{% extends "base2.html" %}
{% block title %}購物車{% endblock %}
{% block body %}
<style type="text/css">
       table {
            border-collapse: collapse;
        }

        .threeboder {
            border: 1px solid #5B96D0;
        }

        .trow {
            border-right: 1px solid #5B96D0;
            border-bottom: 1px solid #5A96D6;
        }

        .theader {
            background-color: #A5D3FF;
            font-size: 14px;
            border-right: 1px solid #5B96D0;
            border-bottom: 1px solid #5A96D6;
        }


</style>

<script>
        function calc(rowid, quantityInput) {

            quantity = quantityInput.value
            if (isNaN(quantity)) {
                alert("不是有效的數值！");
                quantityInput.value = 0;
                quantity = quantityInput.value
                quantityInput.focus();
                // return;
            }
            // 單價id
            var price_id = 'price_' + rowid;
            // 單價
            var price = parseFloat(document.getElementById(price_id).innerText);

            // 小計id
            var subtotal_id = 'subtotal_' + rowid;
            // 小計(更新之前)
            subtotal1 = parseFloat(document.getElementById(subtotal_id).innerText);
            //四捨五入並保留兩位小數
            subtotal1 = subtotal1.toFixed(2);
            document.getElementById(subtotal_id).innerText = quantity * price;
            // 小計(更新之后)
            subtotal2 = parseFloat(document.getElementById(subtotal_id).innerText);
            // 合計
            total = parseFloat(document.getElementById('total').innerText);
            // 計算合計
            total = total - subtotal1 + subtotal2;
            //四捨五入並保留兩位小數
            total = total.toFixed(2);
            //更新合計
            document.getElementById('total').innerText = total;

        }


</script>


<table width="100%" border="0" align="center">
    <tr>
        <td width="616"><img src="{{ url_for('static', filename='images/mycar.jpg') }}"/></td>
        {% include 'goods_header.html' %}
    </tr>
</table>
<hr width="100%"/>
<div class="text3" align="center">您選好的商品</div>
<br>
<form action="/submit_order" method="post">
    <table width="100%" border="0" align="center" class="threeboder">
        <tr bgcolor="#A5D3FF">
            <td height="50" align="center" class="theader">商品名称</td>
            <td width="8%" align="center" class="theader">数量</td>
            <td width="15%" align="center" class="theader">单价</td>
            <td width="15%" align="center" class="theader">小计</td>
        </tr>
        {% for item in list %}
        <tr>
            <td height="50" align="left" class="trow">{{ item[1] }}</td>
            <td align="center" class="trow">
                <input name="quantity_{{ item[0] }}" type="text" value="{{ item[3] }}"
                       onblur="calc({{ item[0] }}, this)"/>
            </td>
            <td align="center" class="trow">&yen;<span id="price_{{ item[0] }}">{{ item[2] }}</span></td>
            <td align="center" class="trow">&yen;<span id="subtotal_{{ item[0] }}">{{ item[4] }}</span>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td height="50" colspan="5" align="right">合计：&yen;<span id="total">{{ total }}</span>&nbsp;&nbsp;</td>
        </tr>
    </table>
    <br>
    <div align="center">
        <input type="image" src="{{ url_for('static', filename='images/submit_order.jpg') }}" />&nbsp;&nbsp;
    </div>
</form>
{% endblock %}
