{% extends "base2.html" %}
{% block title %}借用物品詳細資訊{% endblock %}
{% block body %}
<style type="text/css">
.title {
	font-size: 20px;
	color: #FF6600;
	font-style: italic;
}

</style>

<table width="100%" border="0" align="center">
    <tr>
        <td width="616"><img src="{{ url_for('static', filename='images/info.jpg') }}" align="absmiddle"/></td>
        {% include 'goods_header.html' %}
    </tr>
</table>
<hr width="100%"/>
<div class="text3" align="center">{{ goods.name }}</div>
<table width="100%" border="0" align="center">
    <tr>
        <td width="40%" align="right">
            <div><img src="{{ url_for('static', filename='goods_images/') }}{{ goods.image }}" width="360px"
                      height="360px"/></div>
            <br></td>
        <td>
            <div align="center" class="text4">價格：<span class="title">NT${{ goods.price }}元</span></div>
            <br>
            <table width="80%" height="200" border="0">
                <tbody>
                <tr>
                    <td width="25%" class="text5">电脑品牌：</td>
                    <td width="25%" class="text6">{{ goods.brand }}</td>
                    <td width="25%" class="text5">CPU品牌：</td>
                    <td width="25%" class="text6">{{ goods.cpubrand }}</td>
                </tr>
                <tr>
                    <td class="text5">内存容量：</td>
                    <td class="text6">{{ goods.memorycapacity }}</td>
                    <td class="text5">CPU型号：</td>
                    <td class="text6">{{ goods.cputype }}</td>
                </tr>
                <tr>
                    <td class="text5">硬盘容量：</td>
                    <td class="text6">{{ goods.hdcapacity }}</td>
                    <td class="text5">显卡类型：</td>
                    <td class="text6">{{ goods.cardmodel }}</td>
                </tr>
                <tr>
                    <td class="text5">显示器尺寸：</td>
                    <td class="text6">{{ goods.displaysize }}</td>
                    <td class="text5">&nbsp;</td>
                    <td class="text6">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <br>
            <br>
            <div><a href="/add?id={{ goods.id }}&name={{ goods.name }}&price={{ goods.price }}">
                <img src="{{ url_for('static', filename='images/button.jpg') }}"/>
            </a>
            </div>
        </td>
    </tr>
</table>
{% endblock %}