{% extends "base2.html" %}
{% block title %}借用物品列表{% endblock %}
{% block body %}

<style type="text/css">
	table {
		border-collapse: collapse;
	}

	/*物品列表第1列*/
	.col1 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-indent: 40px
	}

	/*物品列表第2列*/
	.col2 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: right;
	}

	/*物品列表第3列*/
	.col3 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: center;
	}

</style>

<table width="100%" border="0" align="center">
    <tr>
        <td width="616"><img src="{{ url_for('static', filename='images/list.jpg') }}" align="absmiddle"/></td>
        {% include 'goods_header.html' %}
    </tr>
</table>
<hr width="100%"/>
<div class="text3" align="center">請選擇借用的物品</div>
<br>
<table width="100%" border="0" align="center">
    <tr bgcolor="#b4c8ed">
		<th>借用物品名稱</th>
		<th>借用物品描述</th>
        <th width="5%">借用物品價格</th>
        <th width="15%">添加到購物車</th>
    </tr>
  {% for goods in list %}
    <tr bgcolor={{ loop.cycle('#ffffff', '#edf8ff') }}>
		<td class="col1"><a href="/detail?id={{ goods.id }}">{{ goods.name }}</a></td>
        <td class="col1"><a href="/detail?id={{ goods.id }}">{{ goods.description }}</a></td>
        <td class="col2"> NT${{ goods.price}}</td>
        <td class="col3"><a href="/add?id={{ goods.id }}&name={{ goods.name }}&price={{ goods.price }}">添加到购物车</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}