{% extends "base2.html" %}
{% block title %}借用物品列表{% endblock %}
{% block body %}

<style type="text/css">

	body {font-size: 14px; /* font-size 1em = 10px */}
	table {border-collapse: collapse;}
	
	/*物品列表第1列*/
	.col {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: center;
	}
	
</style>


<hr width="100%"/>
<div class="text3" align="center">請選擇借用的物品</div>
<br>
<table width="90%" border="0" align="center">
    <tr bgcolor="#b4c8ed">
		<th width="10%">物品ID</th>
        <th width="10%">物品名稱</th>
		<th width="10%">物品狀態</th>
		<th width="10%">借用日</th>
		<th width="5%">借用</th>
		<th width="5%">預約</th>
    </tr>
  {% for item in list %}
    <tr bgcolor={{ loop.cycle('#ffffff', '#edf8ff') }}>
		<td class="col"><a href="/detail?item_id={{ item.item_id }}">{{ item.item_id }}</a></td>
        <td class="col"><a href="/detail?item_id={{ item.item_id }}">{{ item.name }}</a></td>
		<td class="col"> {{ item.booking_status}} </td>
		<td class="col"> {{ item.borrow_date}} </td>
		<td class="col" >
			{% if item.booking_status == '未借出' %}
			<a href="/add_borrows?item_id={{ item.item_id }}">
				<input type="button" value="我要借用"
                        style="background-color:#036d178f;
                               height: 30px;
                               font-size:14px;
                               font-weight:bold;
                               color:#ffffff;
                               font-family:arial,'Microsoft JhengHei','微軟正黑體',sans-serif !important;">
			</a>
			{% endif %}
		</td>
		<td class="col" >
			{% if item.reserve_status =='未預約' and item.booking_status == '已借出' and item.user_id != user_id %}
			<a href="/add_reservation?item_id={{ item.item_id }}">
				<input type="button" value="我要預約"
                        style="background-color:#1b3cfa;
                               height: 30px;
                               font-size:14px;
                               font-weight:bold;
                               color:#ffffff;
                               font-family:arial,'Microsoft JhengHei','微軟正黑體',sans-serif !important;">
			</a>
			{% endif %}

			<br>
		</td>
	</tr>
  {% endfor %}
</table>
<br></br>
{% endblock %}