 <td width="734" align="right" style="font-size:14px; font-family:arial,'Microsoft JhengHei','微軟正黑體',sans-serif !important;">
     <img src="{{ url_for('static', filename='images/mycar1.jpg') }}" align="absmiddle"/>
     <a href="/borrows">&nbsp;借用單&nbsp;</a>|
     <a href="/returns">&nbsp;歸還單&nbsp;</a>|
     <a href="/reservations">&nbsp;預約單&nbsp;</a>|
     <a href="/record_history">&nbsp;借還歷史紀錄</a>|
     <a href="/account">&nbsp;用戶資訊&nbsp;</a> |
     <a href="/list">&nbsp;借用物品列表&nbsp;</a>
 </t