{% extends "base2.html" %}
{% block title %}借用物品列表{% endblock %}
{% block body %}

<style type="text/css">

	body {font-size: 10px; /* font-size 1em = 10px */}
	table {border-collapse: collapse;}
	
	/*物品列表第1列*/
	.col {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: center;
	}	

</style>


<hr width="100%"/>
<div class="text3" align="center">請選擇借用的物品</div>
<br>
<table width="100%" border="0" align="center">
    <tr bgcolor="#b4c8ed">
		<th width="10%">物品ID</th>
        <th width="10%">物品名稱</th>
		<th width="10%">物品狀態</th>
		<th width="10%">借用日</th>
		<th width="10%">預約到期日</th>
		<th width="5%">借用/預約</th>
    </tr>
  {% for item in list %}
    <tr bgcolor={{ loop.cycle('#ffffff', '#edf8ff') }}>
		<td class="col"><a href="/detail?item_id={{ item.item_id }}">{{ item.item_id }}</a></td>
        <td class="col"><a href="/detail?item_id={{ item.item_id }}">{{ item.name }}</a></td>
		<td class="col"> {{ item.status}} </td>
		<td class="col"> {{ item.borrow_date}} </td>
		<td class="col"> {{ item.return_date}} </td>
		<td class="col">
			{% if item.return_date =='' %}
			<a href="/add_borrows?item_id={{ item.item_id }}"> 我要借用</a>
			{% else %}
			<a href="/add_reservation?item_id={{ item.item_id }}"> 我要預約</a>
			{% endif %}
		</td>
	</tr>
  {% endfor %}
</table>
{% endblock %}