{% extends "base2.html" %}
{% block title %}借用物品詳細資訊{% endblock %}
{% block body %}


<table width="100%" border="0" align="center">
    <tr>
        <td width="616"><img src="{{ url_for('static', filename='images/info.jpg') }}" align="absmiddle"/></td>
        {% include 'items_header.html' %}
    </tr>
</table>
<hr width="100%"/>
<table width="100%" border="0" align="center">
    <tr>
        <td width="40%" align="right">
            <div><img src="{{ url_for('static', filename='goods_images/') }}{{ goods.image }}" width="360px"
                      height="360px"/></div>
            <br></td>
        <td>
            <table width="60%" height="200" border="0">
                <tbody>
                <tr>
                    <td class="text5">類型：</td>
                    <td class="text6">{{ goods.name }}</td>
                </tr>
                <tr>
                    <td class="text5">描述：</td>
                    <td class="text6">{{ goods.description }}</td>
                </tr>
                <tr>
                    <td class="text5">位置：</td>
                    <td class="text6">{{ goods.location }}</td>
                </tr>
                <tr>
                    <td class="text5">價格：</td>
                    <td class="text6">{{ goods.price }}</td>
                </tr>
                <tr>
                    <td class="text5">可借天數：</td>
                    <td class="text6">{{ goods.available_day }}</td>
                </tr>
                <tr>
                    <td class="text5">狀態：</td>
                    <td class="text6">{{ goods.status }}</td>
                </tr>
                <tr>
                    <td class="text5">借用人：</td>
                    <td class="text6">{{ goods.user_id }}</td>
                </tr>
                <tr>
                    <td class="text5">借用日期：</td>
                    <td class="text6">{{ goods.borrow_date }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <br>
            <div><a href="/add?id={{ goods.id }}&name={{ goods.name }}&price={{ goods.price }}">
                <input type="button" value="我要預約" style="width:150px;height:50px;font-size:20px;">
            </a>
            </div>
        </td>
    </tr>
</table>
{% endblock %}