{% extends "base2.html" %}
{% block title %}借用物品列表{% endblock %}
{% block body %}

<style type="text/css">
	table {
		border-collapse: collapse;
	}

	/*物品列表第1列*/
	.col1 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-indent: 40px
	}

	/*物品列表第2列*/
	.col2 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: right;
	}

	/*物品列表第3列*/
	.col3 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: center;
	}

	/*物品列表第4列*/
	.col4 {
	padding-top: 5px;
	border-top: 1px dashed #666666;
	text-align: center;
	}

	/*物品列表第5列*/
	.col5 {
	padding-top: 5px;
	border-top: 1px dashed #666666;
	text-align: center;
	}

</style>

<table width="100%" border="0" align="center">
    <tr>
        <td width="616"><img src="{{ url_for('static', filename='images/list.jpg') }}" align="absmiddle"/></td>
        {% include 'items_header.html' %}
    </tr>
</table>
<hr width="100%"/>
<div class="text3" align="center">請選擇借用的物品</div>
<br>
<table width="100%" border="0" align="center">
    <tr bgcolor="#b4c8ed">
        <th width="10%">物品名稱</th>
		<th width="5%">物品狀態</th>
		<th width="15%">借用日</th>
		<th width="15%">預約到期日</th>
		<th width="15%">借用</th>
		<th width="15%">預約</th>
    </tr>
  {% for item in list %}
    <tr bgcolor={{ loop.cycle('#ffffff', '#edf8ff') }}>
        <td class="col1"><a href="/detail?id={{ item.item_id }}">{{ item.name }}</a></td>
		<td class="col2"> {{ item.status}} </td>
		<td class="col3"> {{ item.borrow_date}} </td>
		<td class="col4"> {{ item.return_date}} </td>
        <td class="col5"><a href="/add?id={{ item.item_id }}"> 我要借用</a></td>
        <td class="col6"><a href="/add?id={{ item.item_id }}"> 我要預約</a></td>
	</tr>
  {% endfor %}
</table>
{% endblock %}