{% extends "base2.html" %}
{% block title %}借用物品詳細資訊{% endblock %}
{% block body %}


<hr width="100%"/>
<table width="100%" border="0" align="center">
    <tr>
        <td width="40%" align="right">
            <div><img src="{{ url_for('static', filename='images/') }}{{ item.image }}" width="360px"
                      height="360px"/></div>
            <br></td>
        <td>
            <table width="60%" height="200" border="0">
                <tbody>
                <tr>
                    <td class="text5">類型：</td>
                    <td class="text6">{{ item.name }}</td>
                </tr>
                <tr>
                    <td class="text5">描述：</td>
                    <td class="text6">{{ item.description }}</td>
                </tr>
                <tr>
                    <td class="text5">位置：</td>
                    <td class="text6">{{ item.location }}</td>
                </tr>
                <tr>
                    <td class="text5">價格：</td>
                    <td class="text6">{{ item.price }}</td>
                </tr>
                <tr>
                    <td class="text5">可借天數：</td>
                    <td class="text6">{{ item.available_day }}</td>
                </tr>
                <tr>
                    <td class="text5">狀態：</td>
                    <td class="text6">{{ item.status }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <br>
            <div><a href="/add?id={{ item.id }}&name={{ item.name }}&price={{ item.price }}">

                {% if item.return_date =='' %}
                <a href="/add_borrows?item_id={{ item.item_id }}">
                <input type="button" value="我要借用" style="width:150px;height:50px;font-size:20px;">
                </a>
                {% else %}
                <a href="/add_reservation?item_id={{ item.item_id }}"></a>
                <input type="button" value="我要預約" style="width:150px;height:50px;font-size:20px;">
                </a>
                {% endif %}
            </a>
            </div>
        </td>
    </tr>
</table>
{% endblock %}