{% extends "base1.html" %}
{% block title %}主頁面{% endblock %}
{% block body %}
<style type="text/css">
a:link {
	font-size: 18px;
	color: #DB8400;
	text-decoration: none;
	font-weight: bolder;
}
a:visited {
	font-size: 18px;
	color: #DB8400;
	text-decoration: none;
	font-weight: bolder;
}
a:hover {
	font-size: 18px;
	color: #DB8400;
	text-decoration: underline;
	font-weight: bolder;
}
</style>

<div>
  <p class="text1"> <img src="{{ url_for('static', filename='images/4.jpg') }}"   align="absmiddle" /> <a href="/list">借用物品列表</a> </p>
  <p class="text2"> 借用物品一覽表 </p>
</div>
<hr width="100%" />
<div>
  <p class="text1"> <img src="{{ url_for('static', filename='images/mycar1.jpg') }}" align="absmiddle"  /> <a href="/borrows">借用單</a> </p>
  <p class="text2"> 查看借用單 </p>
</div>
<div>
	<p class="text1"> <img src="{{ url_for('static', filename='images/mycar1.jpg') }}" align="absmiddle"  /> <a href="/returns">歸還單</a> </p>
	<p class="text2"> 查看歸還單 </p>
</div>
<!-- <div>
	<p class="text1"> <img src="{{ url_for('static', filename='images/mycar1.jpg') }}" align="absmiddle"  /> <a href="/reservations">預約單</a> </p>
	<p class="text2"> 查看預約單 </p>
</div> -->
<hr width="100%" />
<div>
  <p class="text1"> <img src="{{ url_for('static', filename='images/profile.png') }}"   align="absmiddle" /> <a href="/account">用戶資訊</a> </p>
  <p class="text2"> 檢視用戶資訊 </p>
</div>
{% endblock %}