{% extends "base2.html" %}
{% block title %}借用物品列表{% endblock %}
{% block body %}

<style type="text/css">

	body {font-size: 14px; /* font-size 1em = 10px */}
	table {border-collapse: collapse;}
	
	/*物品列表第1列*/
	.col {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: center;
	}
	
</style>


<hr width="100%"/>
<div class="text3" align="center">借還歷史紀錄</div>
<br>
<table width="90%" border="0" align="center">
    <tr bgcolor="#b4c8ed">
        <th width="10%">物品編號</th>
		<th width="10%">物品名稱</th>
		<th width="10%">借用日</th>
        <th width="10%">歸還日</th>
    </tr>
  {% for item in list %}
    <tr bgcolor={{ loop.cycle('#ffffff', '#edf8ff') }}>
		<td class="col"><a href="/detail?item_id={{ item.item_id }}">{{ item.item_id }}</a></td>
		<td class="col"><a href="/detail?item_id={{ item.item_id }}">{{ item.name }}</td>
		<td class="col"> {{ item.borrow_date}} </td>
		<td class="col"> {{ item.return_date}} </td>
	</tr>
  {% endfor %}
</table>
<br></br>
{% endblock %}