{% extends "base1.html" %}
{% block title %}預約完成{% endblock %}
{% block body %}
<style type="text/css">
a:link {
    font-size: 18px;
    color: #DB8400;
    text-decoration: none;
    font-weight: bolder;
}
a:visited {
    font-size: 18px;
    color: #DB8400;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    font-size: 18px;
    color: #DB8400;
    text-decoration: underline;
    font-weight: bolder;
}
</style>

<div align="center" >
  <p class="text7"> 謝謝您的借用！ </p>
  <p class="text7"> 您的借用單號是：123 </p>
  <p class="text7"> 您可以繼續借用！ </p>
   <p class="text7">
       <a href="/main">返回主頁面</a>
  </p>
</div>
{% endblock %}
