{% extends "base2.html" %}
{% block title %}租借清單{% endblock %}
{% block body %}
<style type="text/css">
       table {
            border-collapse: collapse;
        }

        .threeboder {
            border: 1px solid #5B96D0;
        }

        .trow {
            border-right: 1px solid #5B96D0;
            border-bottom: 1px solid #5A96D6;
        }

        .theader {
            background-color: #A5D3FF;
            font-size: 14px;
            border-right: 1px solid #5B96D0;
            border-bottom: 1px solid #5A96D6;
        }


</style>

<table width="100%" border="0" align="center">
</table>
<hr width="100%"/>
<div class="text3" align="center">歸還清單</div>
<br>
<form action="/submit_order" method="post">
    <table width="100%" border="0" align="center" class="threeboder">
        <tr bgcolor="#A5D3FF">
            <td height="20" align="center" class="theader">單號</td>
            <td width="20%" align="center" class="theader">物品代號</td>
            <td width="20%" align="center" class="theader">借用日</td>
            <td width="20%" align="center" class="theader">狀態</td>            
        </tr>  
      {% for item in c_all %}
        <tr bgcolor={{ loop.cycle('#ffffff', '#edf8ff') }}>
            <td align="center"> {{ item.records_id}} </td>
            <td align="center"> {{ item.item_id}} </td>
            <td align="center"> {{ item.borrow_date}} </td>      
            <td align="center">
                {% if item.return_date =='' %}
                <a href="{{ url_for('return_ok',record=item.records_id) }}"><font color="#FF0000"><big><big>我要歸還</big></big></font></a>
                {% else %}
                {{item.return_date}}已歸還
                {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <div align="center">
        <a href="/main"><big>返回主頁面</big></a>
    </div>
</form>
{% endblock %}
